<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mycss.css">
    <title>Ogata Katsuyaのポートフォリオ</title>
</head>
<body style="padding-top:50px;">
    
    <style>
        .explanation{
            text-align: center;
            width: 50%;
        }
    </style>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand">MyPortfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>      
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="../index.html" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container explanation my-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Python</h3>
                <p class="card-text">
                    大学の講義で基本的な文法と課題をこなした後，Webアプリケーションのバックエンドの実装のために使用している言語です．
                    言語の仕様もある程度理解しており，よく使用されるライブラリに関してもある程度使用することができます．<br>
                    これまで作ってきたものは，Webアプリケーションや，"Battle Snake"の実装，災害時の食糧分配ツールなどです．
                </p>
                <a href="../index.html" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>

    <div class="container explanation my-4">
        <div class="card">
            <div class="card-body">
            <h2 class="card-title">Projects</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">食材管理アプリ</h5>
                        <p class="card-text">食材の追加・編集・削除を行うことができ，食材の管理ができるアプリケーションです．</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Battle Snale</h5>
                        <p class="card-text">チームで開発を行い，α-β法やA*探索，全探索などのアルゴリズムを駆使して実装を行いました．
                            ソロモードでは3000ターン以上生き残ることができ，対戦モードでは12チーム中5位という成績を残しました．
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">食糧分配ツール</h5>
                        <p class="card-text">チームで開発を行い，最適化の式を用いて栄養の観点から供給される食糧を避難所に分配するツールです．計算を行った後，扱いやすい形式でexcelのシートに結果を出力します．</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<p class="right"><small>Copyright©︎2024 Katusya Ogata. All Rights Reserved.</small></p>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.7.1.slim.min.js"></script>
</body>
</html>