<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mycss.css">
    <title>Ogata Katsuyaのポートフォリオ</title>
</head>
<body style="padding-top:50px;">
    
    <style>
        .explanation{
            text-align: center;
            width: 50%;
        }
    </style>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand">MyPortfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>      
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="../index.html" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container explanation my-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">C言語</h3>
                <p class="card-text">大学で初めて学んだプログラミング言語です．学習してきた期間で言えばこのC言語が一番長いです．
                    リスト，2分木等の基本的なデータ構造や，再帰，ソート，探索などのアルゴリズムはC言語を用いて学習しました．
                    自分にとっては初めてのプログラミング言語なので，思入れの深い言語です．
                </p>
                <a href="../index.html" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>

    <div class="container explanation my-4">
        <div class="card">
            <div class="card-body">
            <h2 class="card-title">Projects</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">簡易型シェル</h5>
                        <p class="card-text">ls,cat,pwd,dirs,pushd,!!(前のコマンドを実行),*機能(ワイルドカード),alias,*,date,cp,cd,popd,historyの機能を持つシェルです．</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">整数管理ツール</h5>
                        <p class="card-text">整数の追加・削除・探索ができるツールです．追加した整数は2分探索木の中で管理しています．</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<p class="right"><small>Copyright©︎2024 Katusya Ogata. All Rights Reserved.</small></p>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.7.1.slim.min.js"></script>
</body>
</html>