<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mycss.css">
    <title>Ogata Katsuyaのポートフォリオ</title>
</head>
<body style="padding-top:50px;">
    
    <style>
        .explanation{
            text-align: center;
            width: 50%;
        }
    </style>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="#" class="navbar-brand">MyPortfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>      
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="../index.html" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container explanation my-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Flask</h3>
                <p class="card-text">内容分</p>
                <a href="../index.html" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>

<p class="right"><small>Copyright©︎2024 Katusya Ogata. All Rights Reserved.</small></p>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.7.1.slim.min.js"></script>
</body>
</html>