.title{
    text-align: center;
    font-size: 50px;
}

.mail{
    text-align: center;
}

.insert{
    width: 10%;
    height: 10%;
}

.insert1{
    width: 7%;
    height: 7%;
}

.insert2{
    width: 7%;
    height: 7%;
}

.introduction{
    font-size: 20px;
    line-height: 200%;
}

.jumbotron { 
    background:url('../images/pexels-sohel-patel-1804035.jpg')
    center no-repeat; background-size: 
    cover;
}

.display-1{
    color:rgb(47, 40, 119)
}

.lead{
    color: rgb(16, 6, 145);
}

.right{
    text-align: center;
}

.reputation{
    width: 10%;
    height: 10%;
    margin: 0;
    padding: 0;
}
