.title{
    text-align: center;
    font-size: 50px;
}

.mail{
    text-align: center;
}

.insert{
    width: 10%;
    height: 10%;
}

.insert1{
    width: 7%;
    height: 7%;
}

.insert2{
    width: 7%;
    height: 7%;
}

.introduction{
    font-size: 20px;
    line-height: 200%;
}

.jumbotron { 
    background:url('../images/slide4.jpg')
    center no-repeat; background-size: 
    cover;
}

.head{
    color:black
}

.right{
    text-align: center;
}

.reputation{
    width: 10%;
    height: 10%;
    margin: 0;
    padding: 0;
}
